body{
    background-color:   hsl(0, 0%, 8%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
}
.main{
    display: flex;
    flex-direction:column;
    background-color:   hsl(0, 0%, 12%);
    width: 360px;
    border-radius: 8px;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    padding:30px 0px ;
}
img{
    width: 100px;
    border-radius: 50%;
}

.h2{
    color: hsl(75, 94%, 57%);
}

h2{
    color: hsl(0, 0%, 100%);
    text-align: center;
}
.inside{
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    
    
}
a{
    display: flex;
    background-color: hsl(0, 0%, 20%);
    color: hsl(0, 0%, 100%);
    padding: 10px;
    border-radius: 10px;
    width: 270px;
    justify-content: center;
    margin-top: 10px;
    transition: 0.3s;
    align-items: center;
}
a:hover{
    background-color: hsl(75, 94%, 57%);
    color: black;
   
}
p{
    color: hsl(0, 0%, 100%);
}
